<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050158266649-j94mrfnffincdpdom8h6237fom6bi2hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050158266649-j94mrfnffincdpdom8h6237fom6bi2hg</string>
	<key>API_KEY</key>
	<string>AIzaSyBNDJrapxcAcMU3A9PdZdjLedTKIIARN4c</string>
	<key>GCM_SENDER_ID</key>
	<string>1050158266649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swipez.billing</string>
	<key>PROJECT_ID</key>
	<string>swipez-billing</string>
	<key>STORAGE_BUCKET</key>
	<string>swipez-billing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050158266649:ios:ad17c66626d369b3006d88</string>
</dict>
</plist>